/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #171b26;
    color: #9fa6b7;
    padding: 20px;
}

#control-row1, #content{
    display: flex;
    justify-content: space-between;
}

#checklist-container {
    display: inline-block;
    overflow-y: scroll;
    margin-right: 10px;
    height: 200px;
}

#banner{
    font-size: 40px;
    height: 3.5rem;
    align-items: center;
}

#upper-right, #upper-left{
    width: 50%;
    padding: 10px;
}



